#login-container {
  margin-top: 100px;
  border: green 1px dashed;
  width: 25%;
  margin-left: 38%;

}

.input-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  border: green 1px dashed;
  margin: 5px;
}

.input-box label {
  padding-right: 15px;
  font-size: 20pt;
}

.input-box input {
  width: 300pt;
}

#login-btn {
  width: 50%;
}